.container {
    width:40%;
    margin-left:auto;
    margin-right: auto;
    position:relative;
    height:100%;
}

.footer {
    position:absolute;
    bottom:0px;
    text-align:center;
    width:100%;
    height:30px;
    line-height:30px;
    color: #a11111;
}

.footer a:link, a:visited {
    color:#a11111;
}
